<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" [(ngModel)]="pet.name" name="name"  placeholder="Name" class="form.control  w-100" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="pet.category" name="category"  placeholder="Category" class="form.control  w-100" >
                </div>
                <div class="form-group">
                    <input type="url" [(ngModel)]="pet.photoUrls" name="photoUrls"  placeholder="Photo URL" class="form.control  w-100" >
                </div>
                <div class="form-group">
                    <input type="text" name="tags" [(ngModel)]="pet.tags" placeholder="Tags" class="form.control w-100">
                </div>
                
                <div class="form-group">
                    <label for="status">Select status</label>
                    <select class="form-control" name="status" [(ngModel)]="pet.status">
                        <option value="">select</option>
                        <option value="Available">Available</option>
                        <option value="Pending">Pending</option>
                        <option value="Sold">Sold</option>
                    </select>
                    
                </div>
                <button class="btn btn-success btn-block" (click)=" edit ? updatePet(): saveNewPet()">Save</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="pet.photoUrls" class="card-img-top" alt="">
        <h3>{{pet.name == '' ? 'Pet name': pet.name}} </h3>
        <p>{{pet.category == '' ? 'Category': pet.category}} </p>
        <p>{{pet.tags == '' ? 'Tags': pet.tags}} </p>
        <p>{{pet.status == '' ? 'Status': pet.status}} </p>
        <p>{{pet.created_at | date: 'yyyy-MM-dd'}} </p>

    </div>
</div>
